{% extends 'base.html' %}

{% block title %}
    {{ context.title }}
{% endblock %}

{% block body %}
    <h1>{{ context.body }}</h1><br>
    <div class="add_post">
    <form method="post">
        <input class="form-control" type="text" name="title" placeholder="Input title"><br>
        <input class="form-control" type="text" name="intro" placeholder="Input intro"><br>
        <textarea name="text" class="form-control" cols="30" rows="10" placeholder="Input text"></textarea><br>
        <button class="btn btn-success" type="submit">Create</button>
    </form>
    </div>
{% endblock %}