{% extends 'base.html' %}

{% block title %}
    {{ context.title }}
{% endblock %}

{% block body %}
    <h1>{{ context.body }}</h1><br>
    <div class="add_post">
            <div class="alert alert-info">
                <span>Title: </span>{{ context.post.title }}<br>
                <span>Intro: </span>{{ context.post.intro }}<br>
                <span>Text: </span>{{ context.post.text }}<br>
                <p>Date: {{ context.post.date.date() }}</p>
                <a class="btn btn-success" href="/update/{{ context.post.id }}">Update</a>
                <a class="btn btn-danger" href="/delete/{{ context.post.id }}">Delete</a>
                <a class="btn btn-info" href="/all_articles">Ago</a>
            </div>
    </div>
{% endblock %}