{% extends 'base.html' %}

{% block title %}
    {{ context.title }}
{% endblock %}

{% block body %}
    <br>
    <div class="add_post">
    <form method="post">
        <input class="form-control" type="text" name="title" value="{{ context.post.title }}" placeholder="Input title"><br>
        <input class="form-control" type="text" name="intro" value="{{ context.post.intro }}" placeholder="Input specifications"><br>
        <textarea name="text" class="form-control" cols="30" rows="10" placeholder="Input full description">{{ context.post.text }}</textarea><br>
        <input class="form-control" type="text" name="price" value="{{ context.post.price }}" placeholder="Input price: $"><br>
        <button class="btn btn-success" type="submit">Обновить</button>
    </form>
    </div>
{% endblock %}